.merckx__quote {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 1224px) {
  .merckx__quote {
    max-width: 460px;
     }
 }
@media screen and (max-width: 768px) {
  .merckx__quote {
    font-size: 23px;
    line-height: 29px;
    max-width: 284px;
    margin: 0px auto 40px 18px;
     }
 }