.description {
  width: 100%;
  display: flex;
  column-gap: 250px;
  margin: 94px auto 120px auto;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .description {
    
   }
 }
@media screen and (max-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-areas: 
    "title"
    "image"
    "text"
    "button";
    width: calc(100% - 36px);
    margin: 114px auto 0 auto;
   }
 }