.description__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 120px;
  max-width: 460px;
  color: #FFFFFF;
  grid-area: text;
}
@media screen and (max-width: 768px) {
  .description__subtitle {
    margin: 0px auto 40 auto;
    justify-self: start;
   }
 }