.description__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 120px;
  max-width: 460px;
  color: #FFFFFF;
  grid-area: text;
}
@media screen and (max-width: 1024px) {
  .description__text {
    margin-left: 70px;
   }
 }
@media screen and (max-width: 768px) {
  .description__text {
    margin: 0px auto 40px 0px;
    justify-self: start;
    max-width: 284px;
   }
 }