.bicycle__name {
  margin-top: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

@media screen and (max-width: 1439px) {
  .bicycle__name {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .bicycle__name {
    font-size: 14px;
    line-height: 18px;
    margin-top: -32px;
    text-align: center;
    color:#151515;
  }
}