.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0 120px 0 0;
  column-gap: 34px;
  min-height: 74px;
  margin: 0;
  list-style-type: none;
}