.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #565656;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    font-weight: 500;
    align-self: center;
  }
}