.merckx__text {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: space-between;
  max-width: 470px;
  color: #FFFFFF;
  margin: 0px auto;
}
@media screen and (max-width: 1024px) {
  .merckx__text {
    width: 470px;
  }
}
@media screen and (max-width: 768px) {
  .merckx__text {
    margin: 0px auto 0px 0px;
    align-items: flex-start;
    width: calc(100% - 36px)
  }
}