.highway__photos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .highway__photos {
    column-gap: 0px;
    margin: 40px auto 0px auto;
    grid-area: image;
    width: 100%;
     }
}