.bike-fix {
    min-width: 340px;
    min-height: 260px;
    padding: 20px 50px;
    background-color: #f4f4f4;
    border-radius: 20px;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .bike-fix {
        min-width: 284px;
        min-height: 230px;
     }
}
   @media screen and (max-width: 768px) {
    .bike-fix {
        min-width: 170px;
        min-height: 128px;
        max-width: 180px;
        max-height: 140px;
        border-radius: 10px;
     }
}

