.bike-fix {
    min-width: 340px;
    max-height: 260px;
    padding: 20px 50px;
    background-color: #f4f4f4;
    border-radius: 20px;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .bike-fix {
        min-width: 284px;
        min-height: 230px;
     }
}
   @media screen and (max-width: 768px) {
    .bike-fix {
        min-width: 234px;
        min-height: 187px;
     }
}

