.training {
  padding: 150px 120px 120px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: minmax(400px, 570px) minmax(400px, 580px);
  grid-template-rows: auto auto;
  row-gap: 50px;
}

@media screen and (max-width:1439px) {
  .training {
    padding: 60px 90px 50px;
    row-gap: 48px;
  }
}

@media screen and (max-width:1023px) {
  .training {
    grid-template-columns: 1fr;
    padding: 60px 70px 50px;
    row-gap: 42px;
  }
}

@media screen and (max-width:767px) {
  .training {
    padding: 80px 18px 60px;
    row-gap: 40px;
  }
}