.footer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 80px 120px 60px;
  background-color: #2f2f2f;
}

@media screen and (max-width: 1439px) {
  .footer  {
    padding: 100px 90px 54px;
  }
}

@media screen and (max-width: 1023px) {
  .footer  {
    padding: 70px 70px 45px;
  }
}

@media screen and (max-width: 767px) {
  .footer  {
    padding: 60px 18px 25px;
  }
}