.header__mobile {
    display: none;
}
@media screen and (max-width: 768px) {
  .header__mobile {
       width: 40px;
       height: 4px;
       margin: 0;
       padding: 0;
       position: relative;
       cursor: pointer;
       padding: 28px 18px 28px 0px;
  }

}